 <br><span class="glyphicon glyphicon-asterisk" aria-hidden="true"><%= link_to "サインアップ", new_user_registration_path,class: "sign_up" %></span></br>
 <span class="glyphicon glyphicon-search" aria-hidden="true"><%= link_to "ログイン", new_user_session_path,class: "sign_in" %></span>
